<form method="POST" action="/new">
    <label for="messageUser"> Name:
    <input type="text" id="messageUser" name="messageUser" required>
    </label>
    <label for="messageText"> Message:
    <input type="text" id="messageText" name="messageText" required>
    </label>
    <input type="submit" value="Submit">
</form>