<html>
  <head>
    <title>Submit Message</title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <%- include('components/form', {}); %>
    <%- include('components/button', {ref: "", target: "_self", text: "Go back to home"}); %>
  </body>
</html>
